@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #picking-list-content, #picking-list-content * {
    visibility: visible;
  }
  #picking-list-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
