@import "tailwindcss";

@media print {
  /* Esconde tudo por padrão */
  body * {
    display: none !important;
  }
  
  /* Torna visível apenas o conteúdo da lista de separação e seus filhos */
  #picking-list-content, #picking-list-content * {
    display: block !important;
  }
  
  /* Ajusta o layout para impressão */
  #picking-list-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
